.section-card-cliente
{
  display: flex;
  /* height: 200px; */
  align-items: center;
  /* position: relative; */
  justify-content: center;
  /* background-color: burlywood; */
  
}


.text-cliente
{
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 40px;
}

.card-cliente
{
  
  width: 100%;
  max-width: 500px;

}

p
{
 
 font-size: 1.5rem;
}

button
{
  background: none;
  border: none;
  font-size: 2.0rem;
}

.card-cliente-teste
{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

