.section-card-cliente
{
  display: flex;
  height: 200px;
  align-items: center;
  position: relative;
  justify-content: center;
  background-color: burlywood;
  
}

.card-cliente
{
  background-color: green;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  
}

p
{
 display: inline;
 /* padding: 10px; */
 background-color: red;
 font-size: 1.1rem;
}

/* Note that you only needs to edit the config to customize the button! */
.button__copy
{
  background: none;
  border: none;
}
